body {
  background-color: #FFF;
}

.App-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,75,84,1) 100%);
}
.App-header h1 {
  width: 40%;
  color: #2177c0;
  text-shadow: -1px 0 #73bcff, 0 1px #73bcff, 1px 0 #73bcff, 0 -1px #73bcff;
  font-size: 25px;
  font-family: 'Petit Formal Script', cursive;
}

/** GamePlay */
.GamePlay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  align-content: space-around;
  width: 50%;
  height: 20px;
  line-height: 20px;
  text-align: right;
}
.GamePlay button {
  margin: 0 10px;
}
.Player {
  display: flex;
}
.Player strong {
  width: 400px;
  text-align: center;
  margin: 5px;
}
.Player strong, .GameOver {
  font-size: 1.6em;
  font-weight: bold;
  color: #2177c0;
}

/** Body: Cards */
.App-body {
  background-color: #FFF;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/** Button Animation */
svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
.animation:hover {
  transition: 1s ease-in-out;
  background: #5aa0e1;
  border: 1px solid FFF;
}
.animation:hover svg {
  stroke-dashoffset: -480;
}
.animation span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

button {
  width: 150px;
  height: 30px;
  cursor: pointer;
  background: #73bcff;
  border: 1px solid #2177c0;
  outline: none;
  transition: 1s ease-in-out;
  font-size: 1.2em;
  font-weight: bold;
  color: #2177c0;
  border-radius: 25px;
}

.Cards {
  width: 100%;
  height: 1050px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  margin: 0;
}

/** Flipping Card */
.Cards .Card {
  position: relative;
  width: 250px;
  height: 250px;
  display: block;
  text-align: center;
  border-radius: 25px;
  background: rgb(195,34,34);
}
.Cards .CardStandard {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(195,34,34,1) 80%);
}
.Cards .CardSpecial {
  color: #FFF;
  background-color: linear-gradient(90deg, rgba(195,34,34,1) 0%, rgba(199,108,108,1) 46%, rgba(195,34,34,1) 100%);
}
.Cards .CardSpecialJoker {
  background: rgb(195,34,34) url("./GiftSpecial-Joker.png");
}
.Cards .CardSpecialOracle {
  background: rgb(195,34,34) url("./GiftSpecial-Oracle.png");
}
.Cards .CardSpecialLotteryWinner {
  background: rgb(195,34,34) url("./GiftSpecial-LotteryWinner.png");
}
.Cards .CardNumber {
  cursor: pointer;
  font-family: 'Petit Formal Script', cursive;
  font-size: 1.2em;
  background-image: url("./GiftBox.png");
  background-color: linear-gradient(90deg, rgba(195,34,34,1) 0%, rgba(199,108,108,1) 46%, rgba(195,34,34,1) 100%);
}
.Cards .CardNumber span {
  opacity: .8;
  line-height: 250px;
  color: #FDFDFD;
  font-size: 5em;
  font-weight: bold;
  text-shadow: -1px 0 #CDCDCD, 0 1px #CDCDCD, 1px 0 #CDCDCD, 0 -1px #CDCDCD;
}

/** Card Flipped */
.Cards .Card .SmallNumber {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'Petit Formal Script', cursive;
  font-size: 1.2em;
  font-weight: bold;
  color: #FFF;
}

.Cards .Card .Gift {
  width: 200px;
  position: relative;
  top: 5px;
  left: 25px;
}

.Cards .Card img {
  margin: 10px 0 0 0;
  max-height: 140px;
  mix-blend-mode: multiply;
}
.Cards .Card h1 {
  margin: 0;
  font-size: 14px;
}
.Cards .Card h1 a {
  padding: 5px 15px;
  color: #000;
  text-decoration: none;
  overflow: hidden;
}
.Cards .Card h1 p {
  display: block;
  margin: 0;
  padding: 80px 0 0 0;
  line-height: 25px;
  font-size: 1.6em;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
.Cards .Card .description {
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  height: 60px;
  font-size: 0.6em;
}
.Cards .Card .Participant {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 200px;
  margin: 0 0 0 -100px;
  padding: 0;
  color: #FFF;
}
.Cards .Card select {
  padding: 3px 5px;
  font-size: 0.6em;
}
.Cards .Card .selectedParticipant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  margin: 10px 0 0 0;
}
.Cards .Card .selectedParticipant button {
  width: 20px;
  height: 20px;
  font-size: 0.7em;
  background-color: #FFF;
  color: #c32222;
  margin: 0 0 0 10px;
}
